{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "strict",
  "keepEmptyLines": true,
  "overrides": [
    {
      "files": "*.js,*.jsx",
      "options": {
        "arrowParens": "avoid",
        "parser": "flow"
      }
    }
  ]
}
